# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example
.env.local
.env.*.local

# Persistent Database & Storage
database.sqlite
streamvault.db
downloads/
uploads/
.temp/
cookies.txt

# Build Output
dist/
dist-electron/
build/
release/
*.log
logs/

# System & Media Files
.DS_Store
Thumbs.db
*.m4a
*.mp4
*.mp3

